.dog-form {
  display: flex;
}

.dog-form__image {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #aaa;
  margin-right: 30px;
}

.dog-form__button {
  margin-right: 8px;
}