.dogs-table {
  width: 100%;
}

.dogs-table__row {
  display: flex;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.dogs-table__row:hover {
  background-color: #eee;
}

.dogs-table__row._head {
  font-weight: bold;
  cursor: default;
}

.dogs-table__row._head:hover {
  background-color: transparent;
}

.dogs-table__cell {
  flex-basis: 100%;
  padding: 10px 0;
}

.dogs-table .loading {
  padding: 10px 0;
}